.row { ///убираем отрицательные отступы  bootstrap
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

html, body {
  height: 100%;
  background-color: #f2f2f2;
}

body {
  opacity: 1;
  overflow-x: hidden;
  color: #333;
  font-family: $ff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.main-page,
.inner-page {
  margin: 0 auto;
  max-width: 1200px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 12px 0;
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  color: #fff;
  background-color: $accent;
  border-radius: 0;
  border: none;
  outline: none;
  transition: background-color .1s ease;
  cursor: pointer;
  &:focus, &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    background-color: darken($accent, 5%);
  }
  &:active {
    background-color: darken($accent, 10%);
    color: rgba(255, 255, 255, .3)
  }
  &:disabled {
    background-color: #e5e5e5;
  }
}

h1, h2, h3, h4, h4, h6 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

ul,
ol {
  list-style-type: none;
}

// tablet start
@media (min-width: 768px) {
  /* перебиваем стили бутстрап, что бы не было зазоров между col-md-4 */
  .col-md-4 {
    flex: 0 0 33.33334%;
    max-width: 33.33334%;
  }

  h2, h3, h4, h4, h6 {
    font-size: 21px;
  }

  h1 {
    font-size: 30px;
  }

  // tablet end
}
