@font-face {
    font-family: 'Sullivan Fill';
    src: url('../fonts/subset-Sullivan-Fill.eot');
    src: url('../fonts/subset-Sullivan-Fill.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Sullivan-Fill.woff') format('woff'),
        url('../fonts/subset-Sullivan-Fill.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/subset-PTSans-Regular.eot');
    src: url('../fonts/subset-PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-PTSans-Regular.woff') format('woff'),
        url('../fonts/subset-PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/subset-PTSans-Bold.eot');
    src: url('../fonts/subset-PTSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-PTSans-Bold.woff') format('woff'),
        url('../fonts/subset-PTSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Zeronero';
    src: url('../fonts/subset-Zeronero-Black.eot');
    src: url('../fonts/subset-Zeronero-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-Zeronero-Black.woff') format('woff'),
        url('../fonts/subset-Zeronero-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Wisdom Script AI';
    src: url('../fonts/subset-WisdomScriptAI.eot');
    src: url('../fonts/subset-WisdomScriptAI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-WisdomScriptAI.woff') format('woff'),
        url('../fonts/subset-WisdomScriptAI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wisdom Script AI';
    src: url('../fonts/subset-WisdomScriptAI.eot');
    src: url('../fonts/subset-WisdomScriptAI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-WisdomScriptAI.woff') format('woff'),
        url('../fonts/subset-WisdomScriptAI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
