// container-fluid
@mixin conf() {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  // tablet start
  @media (min-width: 768px) {
    padding-left: 60px;
    padding-right: 60px;
  // tablet end
  }
    // desktop start
    @media (min-width: 1200px) {
      //width: 95%;
      max-width: 1200px;

    // desktop end
    }
}

// @function name($px) {
//   @return $px / 16px + 0rem;
// }

//@mixin mob {
//  @media #{$mob-only} {
//    @content;
//  }
//}
//
//@mixin tab {
//  @media #{$tab-only} {
//    @content;
//  }
//}
//
//@mixin des {
//  @media #{$desk} {
//    @content;
//  }
//}

@mixin c() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin cx() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin cy() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin font($size, $font, $color) {
  font-family: $font;
  font-size: $size;
  line-height: 1.2;
  color: #000;
}
