.advantage {
  //();
  background: #fff;
}
.adv__header h2 {
  color: #fff;
}

.adv__list,
.adv__city-list,
.adv__bridge-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.adv__header {
  background: $accent;
  color: #fff;
}

.adv__title {
  margin-bottom: 17px;
}

.adv__city-bg,
.adv__bridge-bg {
  min-height: 260px;
}
.adv__city-bg {
  background: $accent url('/img/photo-city@1x.jpg') 50% no-repeat;
}

.adv__bridge-bg {
  background: $accent url('/img/photo-bridge@1x.jpg') 50% no-repeat;
}
.adv__item {
  margin: 0;
}
.adv__header,
.adv__city-item,
.adv__bridge-item {
  text-align: center;
  margin: 0;
  padding: 35px 55px 40px;
}
.adv__bridge-item {
  background: #eee;
}
.adv__number {
  display: inline-block;
  margin-bottom: 17px;
}
.adv__item .adv__number {
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 10px;
    background: #000;
    top: 50%;
  }

  &::before {
    left: -15px;
  }

  &::after {
    right: -15px;
  }

}

.adv__header .adv__number {
  &::before,
  &::after {
    background: #fff;
  }
}

.adv__city-item {
  padding-left: 80px;
  text-align: left;

  & h3 {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 40px;
      height: 40px;
      left: -50px;
      top: -10px;
      background-repeat: no-repeat;
      z-index: 20;

    }
  }

  &--motel h3::before {
    background: url('/img/icon-house.svg') 50% no-repeat;
  }
  &--gift h3::before {
    background: url('/img/icon-gift.svg') 50% no-repeat;
  }
  &--burger h3::before {
    background: url('/img/icon-burger.svg') 50% no-repeat;
  }
}

.adv__header:hover > .adv__number,
.adv__city-item:hover > .adv__number,
.adv__bridge-item:hover > .adv__number {

  &::before,
  &::after {
    animation: rotating 0.1s ease-out 8,
    rotating-mid-1 0.2s ease-out 4 0.8s,
    rotating-mid-2 0.4s ease-out 2 1.6s,
    rotating-end 0.8s cubic-bezier(.0, .0, .0, .1) 2.4s;
  }

  &::before {
    animation: rotating 0.1s ease-out 8,
    rotating-mid-1 0.2s ease-out 4 0.8s,
    rotating-mid-2 0.4s ease-out 2 1.6s,
    rotating-end 0.8s cubic-bezier(.0, .0, .1, .0) 2.4s;
    animation-direction: reverse;
  }

}

@keyframes rotating {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotating-mid-1 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotating-mid-2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotating-end {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// mobile only start
@media (max-width: 767px) {
  .adv__city {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -16px;
      height: 16px;
      background: $accent;
      clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    }
  }

  .adv__bridge-item {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      left: 20px;
      right: 20px;
      bottom: 0;
      background: #d6d6d6;
    }
  }

  // mobile only end
}

// tablet start
@media (min-width: 768px) {
  .adv__header,
  .adv__city-item,
  .adv__bridge-item {
    min-height: 256px;
    padding: 55px 50px 65px;
  }
.adv__bridge-bg {
  order: -1;
}
  .adv__bridge-item {
    display: inline-block;
  }

  .adv__city-item {
    padding-top: 137px;
    text-align: center;

    & h3 {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 77px;
        height: 77px;
        left: 50%;
        transform: translateX(-50%);
        top: -100px;
        background-repeat: no-repeat;
        z-index: 20;

      }
    }
    &--motel h3::before {
      background: url('/img/icon-house.svg') 50% no-repeat;
    }
    &--gift h3::before {
      background: url('/img/icon-gift.svg') 50% no-repeat;
    }
    &--burger h3::before {
      background: url('/img/icon-burger.svg') 50% no-repeat;
    }
  }
// tablet end
}