.page-footer__copyright {

  .counter-hit {
    font-size: 0;
  }

  a[target="_blank"] {
    width: 100%;
    margin: auto;
    //margin-right: 0;
  }

  a[target="_blank"] > br {
    display: none;
  }

}

// tablet start
@media (min-width: 768px) {

  .page-footer__copyright {

    a[target="_blank"] {
      vertical-align: middle;
      width: 30%;
    }

  }

  // tablet end
}
