#ui-datepicker-div {
  margin: 0 auto;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  top: 2px !important;
}

.ui-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

span.ui-icon-circle-triangle-w {
  background: #81b3d2 url(/img/arrow-left.svg) center no-repeat!important;
}

span.ui-icon-circle-triangle-e {
  background: #81b3d2 url(/img/arrow-right.svg) center no-repeat!important;
}

//.ui-datepicker-prev-hover,
//.ui-datepicker-next-hover {
//  top: 2px !important;
//}
//
//.ui-datepicker-prev-hover {
//  left: 2px !important;
//}
//
//.ui-datepicker-next-hover {
//  right: 2px !important;
//}

.form-send__item-date-from,
.form-send__item-date-to {
  display: inline-flex;
  position: relative;
  &::after {
    position: absolute;
    width: 58px;
    height: 58px;
    line-height: 58px;
    right: 0;
    bottom: 0;
    background: #e6e6e6;
    pointer-events: none;
    font-size: 20px;
    font-family: FontAwesome;
    text-align: center;
  }
}

.form-send__item-date-from:after {
  content: '\f274';
}

.form-send__item-date-to:after {
  content: '\f273';
}

.form-send__item-date {
  text-align: center;
  label {
    line-height: 58px;
    padding: 0;
    text-align: center;
  }
}

input[name="from"],
input[name="to"] {
  position: relative;
  padding-right: 80px;
}

// mobile only start
@media (max-width: 767px) {
  .form-send__date {
    text-align: center;
  }

  // mobile only end
}

// tablet start
@media (min-width: 768px) {

  .form-send__date {
    padding-right: 5%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 40px;
      right: 0;
      width: 1px;
      background: #e5e5e5;
      z-index: 1;
    }
  }

  input[name="from"],
  input[name="to"] {
    vertical-align: top;
  }

  // tablet end
}
