.page-wrapper-thankyou {
  overflow: hidden;
}

.page-footer {
  width: 100%;
  margin-top: auto;
}
#feedback-form {
  padding: 50px;

  form {

   label {
     margin-bottom: 20px;
    }
    .btn {
      margin: auto;
    }

  }

}

.thankyou__title {
  text-align: center;
  padding: 50px 0;
}