.intro {
  @include conf();
  background: #fff;
  position: relative;
  padding: 45px 20px 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  & p {
    margin-bottom: 0;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    height: 26px;
    background: #fff;
    clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
  }
}

.inner-page .intro {
  padding-bottom: 20px;
}

.intro__slogan {
  max-width: 500px;
  margin: 0 auto;
}

.intro__slogan-title {
  margin: 0 0 30px;
  font-size: 18px;
  line-height: 26px;
  color: #000;
}

.intro__logo {
  display: block;
  background: #456;
  font-size: 0;
}

// tablet start
@media (min-width: 768px) {
  .intro {
    padding: 50px 100px 55px;
    &::after {
      height: 57px;
      top: -57px;
      width: 700px;
      left: 50%;
      transform: translateX(-50%);
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: -37px;
      height: 37px;
      //background: $accent;
      background: #fff;
      clip-path: polygon(0 0, 50% 100%, 100% 0, 100% 100%, 0 100%);
    }
  }
  .intro h1 {
    margin: 0 0 30px;
    font-size: 21px;
  }
// tablet end
}

// desktop start
@media (min-width: 1200px) {
  .intro {
    padding: 50px 300px 55px;
    &::after {
      height: 57px;
      clip-path: polygon(0% 0%, 50% 100%, 100% 0%, 100% 100%, 0% 100%);
    }
    &::before {
      height: 57px;
      top: -57px;
      right: -1px; //что бы не было зазора/бага с правой стороны
    }
  }

// desktop end
}
