.main-nav {
  //();
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background: #fff;
  position: relative;
}

// mobile only start
@media (max-width: 767px) {
.main-nav__list {
  .main-nav__hamb--up,
  .main-nav__hamb--down {
    position: absolute;
    width: 23px;
    height: 22px;
    right: 20px;
    cursor: pointer;
  }

  .main-nav__hamb--up {
    z-index: 2;
    bottom: 17px;
    background: linear-gradient(to bottom, #81b3d2 20%, transparent 20%, transparent 40% t, #81b3d2 40%, #81b3d2 60%, transparent 60%, transparent 80%, #81b3d2 80%);
  }
  .main-nav__hamb--down {
    z-index: 1;
    top: 17px;
    background: linear-gradient(to bottom left, transparent 43% t, #fff 43%, #fff 57%, transparent 57%, transparent 80%), linear-gradient(to bottom right, transparent 43% t, #fff 43%, #fff 57%, transparent 57%, transparent 80%);
  }
}
  .main-nav__item:not(.main-nav__item--logo) {
    display: none;
  }
  .main-nav__item--logo {
    order: 100;
    box-shadow: 0 -1px 5px rgba(#000, .4);
    z-index: 1;
  }
  .main-nav__item a {
    box-shadow: inset 0 -1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  .main-nav__item:last-child a {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  .main-nav__item:first-child a {
    box-shadow: inset 0 -1px 0 rgba(1, 1, 1, 0.2);
  }
  .main-nav__item a {
    &:hover {
      background-color: #669ec0;
    }
    &:active {
      background-color: #5496bd;
    }
  }

  // mobile only end
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__item--logo {
  min-height: 55px;
}

.main-nav__item--logo picture {
  position: absolute;
  min-height: 55px;
  left: 50%;
  transform: translateX(-50%);
}

.main-nav__item a {
  display: inline-block;
  width: 100%;
  min-height: 55px;
  line-height: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
    &:hover {
      color: $accent;
    }
    &:active {
      color: rgba(0,0,0,.3);
    }
  }
.main-nav__item--active a {
  color: #766357;
  &:hover {
    color: darken(#766357, 10%);
  }
  &:active {
    color: lighten(#766357, 40%);
  }
}

// tablet start
@media (min-width: 768px) {
  .main-nav__item a {
    color: #000;
    background: #fff;
  }
  .main-nav__item--active a {
    color: #766357;
  }
  .main-nav__item:not(.main-nav__item--logo) {
    display: block !important;
  }

  // tablet end
}
