.page-header {
  background: $accent;
}

.greating {
  min-height: 100px;
  padding: 50px 0 65px;
  background: #81b3d2 url("/img/bg-desktop.jpg") center no-repeat;
}

.greating__logo img {
  margin: 0 auto;
  display: block;
}

// tablet start
@media (min-width: 768px) {
  .greating {
    min-height: 250px;
    padding: 68px 0 100px;
  }

  .inner-page  .greating {
    padding: 100px 0 120px;
    //min-height: 90px;
  }


// tablet end
}
