.page-footer {
  text-align: center;
  //();
  background:#fefefe;
}

.page-footer__inner {
  //background: #f66;
}

.inner-page .page-footer {
  margin-top: 47px;
}

.page-footer__hashtag a {
  text-align: center;
  color: black;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  display: inline-block;
  &:visited {
    color: #000;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-link {
  width: 48px;
  height: 48px;
  background: $accent;
  margin-right: 6px;
  &:last-child {
    margin-right: 0;
  }
}

.page-footer__copyright {
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  & span {
    display: inline-block;
    margin-right: 5px;
  }
  & a {
    display: inline-block;
    vertical-align: middle;
  }
}

#htmlacademy-logo path {
  fill: none;
  stroke: #000;
  transition: .2s;
}

#htmlacademy-logo:hover path {
  stroke: $accent;
}

#htmlacademy-logo:active path {
  stroke: lighten(#000, 70%);
}

#htmlacademy-logo polygon {
  fill: #000;
  transition: .2s;
}

#htmlacademy-logo:hover polygon {
  fill: $accent;
}

#htmlacademy-logo:active polygon {
  fill: lighten(#000, 70%);
}

#htmlacademy-logo {
  width: 26px;
  padding-left: 3px;
  padding-right: 3px;
  height: auto;
}

#github-dev {
  width: 26px;
  height: auto;
}

.page-footer__copyright .copyright-wrap p {
  flex-grow: 1;
}

.page-footer__copyright-developed {
  margin-right: 5px;
}

.page-footer__copyright .page-footer__copyright-design~a,
.page-footer__copyright .page-footer__copyright-developed~a {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.page-footer__copyright .counter-hit {
  font-size: 0;
}
.page-footer__copyright a[target=_blank] {
  vertical-align: middle;
  width: 30%;
}
.page-footer__copyright a[target=_blank] {
  margin: auto;
}
.page-footer__copyright a[target=_blank] > br {
  display: none;
}

// mobile only start
@media (max-width: 767px) {
  .page-footer__inner {
    padding: 20px 0 0;
  }
  .page-footer__hashtag {
    padding-bottom: 23px;
  }
  .social-list {
    margin-bottom: 23px;
  }

  .page-footer__copyright a[target=_blank] {
    width: 100%;
  }

// mobile only end
}

// tablet start
@media (min-width: 768px) {
  .page-footer__inner {
    min-height: 120px;
    align-items: center;
    padding: 0 60px;
    p {
      margin-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .page-footer__hashtag {
    text-align: left;
  }
  .page-footer__copyright {
    text-align: right;
  }
  .inner-page .page-footer {
    margin-top: 61px;
  }
  .page-footer__copyright .copyright-wrap {
    padding-right: 10px;
  }

  // tablet end
}
// tablet only start
@media (min-width: 768px) and (max-width: 1199px) {

// tablet only end
}

// desktop start
@media (min-width: 1200px) {
  .inner-page .page-footer {
    margin-top: 66px;
  }
  .page-footer__inner {
    padding: 0 120px;
  }

// desktop end
}
