.scroll-top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  background-color: #e0e0e0;
  z-index: 22;
  border-radius: 10em;
  color: #666;
  font-size: 26px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all .3s ease;
  opacity: .5;
  &:hover {
    color: #fff;
    background-color: $accent;
    opacity: 1;
    transform: rotate(-90deg);
  }
  &--active {
    right: 25px;
  }
}
