.video {
  background: #fff;
  text-align: center;
  padding-top: 35px; }

.video__inner {
  margin: 0 auto; }

.video__header {
  margin-bottom: 40px; }

.video__title {
  color: black;
  font-size: 18px;
  line-height: 26px; }

.video p {
  font-size: 14px;
  line-height: 24px; }

.video__wrapper {
  width: 320px;
  height: 180px;
  margin: 0 auto; }

@media (max-width: 767px) {
  .video__inner {
    padding: 0 20px; } }

@media (min-width: 768px) {
  .video {
    padding-top: 65px; }
  .video__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 30px;
    color: #000; }
  .video__header {
    margin-bottom: 70px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .video__wrapper {
    width: 632px;
    height: 355px; } }

@media (min-width: 1200px) {
  .video {
    padding-top: 65px; }
  .video__wrapper {
    width: 800px;
    height: 450px;
    margin: 0 auto; } }